@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand: #E11D48;
  --color-brand-hover: #BE123C;
  
  /* Shell Colors (Sidebar/Header) */
  --color-surface: #F3F4F6; 
  
  /* Page Content Background */
  --color-bg-main: #FFFFFF; 
  
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;
  --color-border: #D1D5DB;
}

:root {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-surface); 
  color: var(--color-text-primary);
}

/* Hide scrollbar for cleaner UI */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}